/**/
/*RESET*/
/**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
}
