@font-face {
    font-family: 'Please write me a song';
    src: url('Pleasewritemeasong.woff2') format('woff2'),
        url('Pleasewritemeasong.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

