body {
  background-color: var(--bg-dark);

  /* light mode */
  &.light-mode {
    background-color: var(--bg-white);
  }
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  overflow: auto;
  scrollbar-width: none;
  --fade-start: 90%;
  mask-image: linear-gradient(
    to bottom,
    var(--color-white) var(--fade-start),
    transparent
  );

  &.light-mode{
    mask-image: linear-gradient(
    to bottom,
    var(--color-black) var(--fade-start),
    transparent
  );
  }
}
