#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-dark);
  opacity: 0.96;
}

main {
  flex-grow: 1;
  overflow: auto;
  scrollbar-width: none;
  --fade-start: 90%;
  mask-image: linear-gradient(
    to bottom,
    var(--color-white) var(--fade-start),
    transparent
  );
}
