/**/
/* FONT */
/**/
@font-face {
  font-family: "MouldyCheese-Regular";
  src: url("/fonts/mouldy_cheese/MouldyCheese-Regular.woff");
}

@font-face {
  font-family: "WorkforceCombinePERSONALUSE-Regular";
  src: url("/fonts/workforceCombine_font_ready/WorkforceCombinePERSONALUSE-Regular.ttf");
}

@font-face {
  font-family: "TiltPrism-Regular";
  src: url("/fonts/tiltPrism_font_ready/TiltPrism-Regular.ttf");
}

@font-face {
  font-family: "Gluten-Thin";
  src: url("/fonts/gluten_font_ready/Gluten-Thin.ttf");
}

@font-face {
  font-family: "Pleasewritemeasong";
  src: url("/fonts/handwrite/Pleasewritemeasong.woff");
}

@font-face {
  font-family: "Danfo-Regular";
  src: url("/fonts/danfo_font_ready/Danfo-Regular.ttf");
}

@font-face {
  font-family: "SeductiveHeightBold-Bold";
  src: url("/fonts/seductiveHeight_font_ready/SeductiveHeightBold-Bold.woff");
}

@font-face {
  font-family: "Orbitron-Regular";
  src: url("/fonts/Orbitron/Orbitron-Regular.woff");
}
/**/
/* ROOT */
/**/
:root {
  /*dark mode*/
  --bg-dark: #0d0c0c;
  --color-white: whitesmoke;

  /*light mode*/
  --bg-white: rgb(242, 243, 243);
  --color-black: rgb(24, 23, 23);
}

/* BORDER */
.bor-white {
  border: 1px solid var(--color-white);

  &.light-mode {
    border: 1px solid var(--color-black);
  }
}

/* TEXT */
.main_page p,
.text_about p,
.list_tech h5,
.list_tech p,
.text-content p {
  color: var(--color-white);

  &.light-mode {
    color: var(--color-black);
  }
}