/**/
/* FONT */
/**/
@font-face {
  font-family: "MouldyCheese-Regular";
  src: url("../../../public/fonts/mouldy_cheese/MouldyCheese-Regular.woff");
}

@font-face {
  font-family: "WorkforceCombinePERSONALUSE-Regular";
  src: url("../../../public/fonts/workforceCombine_font_ready/WorkforceCombinePERSONALUSE-Regular.ttf");
}

@font-face {
  font-family: "TiltPrism-Regular";
  src: url("../../../public/fonts/tiltPrism_font_ready/TiltPrism-Regular.ttf");
}

@font-face {
  font-family: "Gluten-Thin";
  src: url("../../../public/fonts/gluten_font_ready/Gluten-Thin.ttf");
}

@font-face {
  font-family: "Pleasewritemeasong";
  src: url("../../../public/fonts/handwrite/Pleasewritemeasong.woff");
}

@font-face {
  font-family: "Danfo-Regular";
  src: url("../../../public/fonts/danfo_font_ready/Danfo-Regular.ttf");
}

@font-face {
  font-family: "SeductiveHeightBold-Bold";
  src: url("../../../public/fonts/seductiveHeight_font_ready/SeductiveHeightBold-Bold.woff");
}

/**/
/* ROOT */
/**/
:root {
  --bg-dark: black;
  --bg-white: whitesmoke;
  --color-black: black;
  --color-white: whitesmoke;
}

.bor-white {
  border: 1px solid var(--color-white);
}
